Description

The Spotted Owl Website Design and Development Project falls within our Small to Medium pricing framework, offering a standard 5-page website. This includes the following main menu pages: Homepage, About Us, Our Services, How We Work, Pricing, and Contact. The site will not feature custom or complex components, with minimal or no hover animations. All content, including text and images, will be supplied by the client.


Optional Items Explanation

Please note that the Blog and Academy sections fall outside the scope of this project. However, we will apply the agreed look and feel to the first page of each section. The roll-out of additional pages for these sections will need to be managed by the Eco Africa team. Should further assistance be required, additional pages can be quoted for separately and implemented accordingly.